<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crazyhands.quizapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/quiz_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FrontPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".quetion_one" />
        <activity android:name=".quetion_two" />
        <activity android:name=".QuetionThreeActivity" />
        <activity android:name=".QuetionFourActivity" />
        <activity android:name=".QuetionFiveActivity" />
        <activity android:name=".EndScoreActivity"></activity>
    </application>

</manifest>